# Build outputs
dist
out
coverage
.output
.turbo
.nuxt

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.eslintcache

# VSCode
.vscode

# Local env files
.env
.env.*
!.env.example

