.table-header th {
  font-weight: bold;
  color: white;
  text-decoration: underline;
  position: sticky;
  background-color: var(--q-primary);
  top: 0px;
  z-index: 1;
}
.q-tab .q-tab__label {
  font-weight: bold;
  font-size: 1.1rem;
}
.q-tab--full{
  min-height: 8rem;
}
.q-table__control {
  justify-content: center;
  flex: content;
}
/* Light Theme */
.body--light .tabs {
  background-color: white;
  white-space: normal;
  color: black
}

.body--light .tabs-active {
  background-color: black;
  white-space: normal;
  color: white
}
/* Dark Theme */
.body--dark .tabs {
  background-color: black;
  white-space: normal;
  color: white
}

.body--dark .tabs-active {
  background-color: white;
  white-space: normal;
  color: black
}

.dialog-button-section {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  padding: 0.5rem;
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: white;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);

}

.body--dark .dialog-button-section {
  background-color: var(--q-dark);
  box-shadow: 0px -1px 5px rgba(128, 128, 128, 0.2);
}
